<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
   
    <h2>Ionic & Node.js Starter App</h2>
    <p>This is a sample Node application deployed to Heroku.</p> 
    </div>
  </div> 
</div>


</body>
</html>
